<table class="table-list">
  <thead>
  <tr>
    {{#ifShowAvatars}}
      <th>&nbsp;</th>
    {{/ifShowAvatars}}
    <th class="nowrap">
      <div class="table-list-cell">
        <h4>User</h4>
      </div>
    </th>
    <th class="nowrap">
      <div class="table-list-cell">
        <h4>SCM Accounts</h4>
      </div>
    </th>
    <th class="nowrap">
      <div class="table-list-cell">
        <h4>Groups</h4>
      </div>
    </th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
