<table class="table-list">
  <thead>
  <tr>
    <th class="nowrap">
      <div class="table-list-cell">
        <h4>Group</h4>
      </div>
    </th>
    <th class="nowrap">
      <div class="table-list-cell">
        <h4>Description</h4>
      </div>
    </th>
    <th class="nowrap">
      <div class="table-list-cell">
        <h4>Members</h4>
      </div>
    </th>
    <th>&nbsp;</th>
  </tr>
  </thead>
  <tbody></tbody>
</table>
